.card-content > p {
    display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-group-text {
  cursor: pointer;
}

.footer-newsletter-ul {
  padding-left: 0px;
}

.contact-us .contacts-title h6 {
  font-size: 12px;
}